
<!-- Crazy W3.CSS navbar -->
<ul class="w3-navbar w3-red w3-card-2 w3-top w3-left-align w3-large">
    <li class="w3-hide-large w3-opennav w3-left">
        <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    </li>
    <li class="w3-margin-left w3-hide-medium w3-hide-small @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "w3-white" : "")">
        @Html.ActionLink("Техническое задание", "Index", "Home", new { area = "" }, new { @class = "w3-padding-large w3-hover-white" })
    </li>
    <li class="w3-hide-medium w3-hide-small @(ViewContext.RouteData.Values["Action"].ToString() == "Progress" ? "w3-white" : "")">
        @Html.ActionLink("Прогресс", "Progress", "Home", new { area = "" }, new { @class = "w3-padding-large w3-hover-white" })
    </li>
    <li class="w3-hide-medium w3-hide-small @(ViewContext.RouteData.Values["Action"].ToString() == "Scheduler" ? "w3-white" : "")">
        @Html.ActionLink("Ежедневник", "Scheduler", "Home", new { area = "" }, new { @class = "w3-padding-large w3-hover-white" })
    </li>
    <li class="w3-hide-medium w3-hide-small @(ViewContext.RouteData.Values["Action"].ToString() == "Contacts" ? "w3-white" : "")">
        @Html.ActionLink("Контакты", "Contacts", "Home", new { area = "" }, new { @class = "w3-padding-large w3-hover-white" })
    </li>
</ul>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-top" style="margin-top:51px">
    <ul class="w3-navbar w3-left-align w3-medium w3-large w3-black">
        <li>@Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "w3-padding-large" })</li>
        <li>@Html.ActionLink("Ежедневник", "Scheduler", "Home", new { area = "" }, new { @class = "w3-padding-large" })</li>
        <li>@Html.ActionLink("Контакты", "Contacts", "Home", new { area = "" }, new { @class = "w3-padding-large" })</a></li>
    </ul>
</div>

<!-- Used to toggle the menu on small screens when clicking on the menu button -->
<script>
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>