                @model OrganizerMVC.Models.Contacts
            
                <div class="w3-col l8">
                    <div class="w3-col l8">
                        <h3>@Model.Surname<br/>@Model.Name<br />@Model.Patronymic</h3>
                        <p>
                            @if (Model.Gender == 0)
                            { <i class="fa fa-venus" aria-hidden="true"></i> <span>Жен.</span>}
                            else if (Model.Gender == 1)
                            { <i class="fa fa-mars" aria-hidden="true"></i> <span>Муж.</span> }
                            else
                            { <i class="fa fa-transgender" aria-hidden="true"></i> <span>Неизв.</span> }
                        </p>
                        @if (Model.Birthday != null)
                        {
                            <p>
                                <i class="fa fa-calendar-o" aria-hidden="true"></i> @Model.Birthday.Value.ToShortDateString()
                            </p>
                        }
                        <p>
                            <i class="fa fa-building-o" aria-hidden="true"></i> @Model.Organization
                        </p>
                        <p>
                            <i class="fa fa-briefcase" aria-hidden="true"></i> @Model.Position
                        </p>
                        <p>
                            @foreach (var item in @Model.ContactsPhones)
                            {
                                <div>
                                    <i class="fa fa-phone" aria-hidden="true"></i> @item.Phone
                                </div>
                            }
                        </p>
                        <p>
                            @foreach (var item in @Model.ContactsEmails)
                            {
                                <div>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> @item.Email
                                </div>
                            }
                        </p>
                        <p>
                            @foreach (var item in @Model.ContactsSkypes)
                            {
                                <div>
                                    <i class="fa fa-skype" aria-hidden="true"></i> @item.Skype
                                </div>
                            }
                        </p>
                        <p>
                            @foreach (var item in @Model.ContactsOthers)
                            {
                                <div>
                                    <i class="fa fa-sticky-note" aria-hidden="true"></i> @item.Other
                                </div>
                            }
                        </p>
                    </div>
                </div>
                <div class="w3-col l4">
                    @switch (Model.Gender)
                    {
                        case 0:     //Female
                            switch (Model.Name.Length % 2) {
                                case 0: <img class="w3-card-2" src="/Content/images/avatar0.png" style="width:100%" /> break;
                                default: <img class="w3-card-2" src="/Content/images/avatar00.png" style="width:100%" /> break;
                            }
                            break;
                        case 1:     //Male
                            switch (Model.Name.Length % 2) {
                                case 0: <img class="w3-card-2" src="/Content/images/avatar1.png" style="width:100%" /> break;
                                default: <img class="w3-card-2" src="/Content/images/avatar11.png" style="width:100%" /> break;
                            }
                            break;
                        default:    //Unknown
                            <img class="w3-card-2" src="/Content/images/avatar2.png" style="width:100%" />
                            break;
                    }
                </div>