@model OrganizerMVC.Models.Contacts

<div class="w3-col l8">
    @using (Html.BeginForm("Edit", "Contacts"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <p>
            <h3 style="padding: 0 0; margin: 0 0;">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "w3-input", @style = "padding: 0 2px; margin: 0;" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "w3-input", @style = "padding: 0 2px; margin: 0;" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @class = "w3-input", @style = "padding: 0 2px; margin: 0;" } })
                @Html.ValidationMessageFor(model => model.Patronymic, "", new { @class = "text-danger" })
            </h3>
        </p>

        <p>
            <i class="fa fa-transgender w3-padding-4" aria-hidden="true" style="float:left;"></i>
            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "w3-input", @style = "padding: 0 2px; margin: 0;" } })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </p>

        <p>
            <i class="fa fa-calendar-o w3-padding-4" aria-hidden="true" style="float:left;"></i>
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "w3-input", @style = "padding: 0 2px; margin: 0;" } })
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </p>

        <p>
            <i class="fa fa-building-o w3-padding-4" aria-hidden="true" style="float:left;"></i>
            @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "w3-input", @style = "padding: 0 2px; margin: 0;" } })
            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
        </p>

        <p>
            <i class="fa fa-briefcase w3-padding-4" aria-hidden="true" style="float:left;"></i>
            @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "w3-input", @style = "padding: 0 2px; margin: 0;" } })
            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
        </p>

        <!-- clonable fields -->
        <script>
            function cloneField(childTag, parentId) {
                var parent = document.getElementById(parentId);
                var newphone = parent.getElementsByTagName(childTag)[1].cloneNode(true);
                newphone.getElementsByTagName("input")[0].value = "";
                parent.appendChild(newphone);
            }
        </script>
        <p id="phoneList" class="w3-display-container" style="max-width:310px;">
            <span onclick="cloneField('span', 'phoneList')" class="w3-display-bottomright w3-hover-text-green"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
            @if (Model.ContactsPhones.Count > 0)
            {
                @Html.EditorFor(model => model.ContactsPhones)
            }
            else
            {
                @Html.Partial("~/Views/EditorTemplates/ContactsPhones.cshtml", new OrganizerMVC.Models.ContactsPhones())
            }
        </p>

        <p id="emailList" class="w3-display-container" style="max-width:310px;">
            <span onclick="cloneField('span', 'emailList')" class="w3-display-bottomright w3-hover-text-green"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
            @if (Model.ContactsEmails.Count > 0)
            {
                @Html.EditorFor(model => model.ContactsEmails)
            }
            else
            {
                @Html.Partial("~/Views/EditorTemplates/ContactsEmails.cshtml", new OrganizerMVC.Models.ContactsPhones())
            }
        </p>

        <p id="skypeList" class="w3-display-container" style="max-width:310px;">
            <span onclick="cloneField('span', 'skypeList')" class="w3-display-bottomright w3-hover-text-green"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
            @if (Model.ContactsSkypes.Count > 0)
            {
                @Html.EditorFor(model => model.ContactsSkypes)
            }
            else
            {
                @Html.Partial("~/Views/EditorTemplates/ContactsSkypes.cshtml", new OrganizerMVC.Models.ContactsSkypes())
            }
        </p>
        
        <p id="otherList" class="w3-display-container" style="max-width:310px;">
            <span onclick="cloneField('span', 'otherList')" class="w3-display-bottomright w3-hover-text-green"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
            @if (Model.ContactsOthers.Count > 0)
            {
                @Html.EditorFor(model => model.ContactsOthers)
            }
            else
            {
                @Html.Partial("~/Views/EditorTemplates/ContactsOthers.cshtml", new OrganizerMVC.Models.ContactsOthers())
            }
        </p>

        <p>
            <span>
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </span>
        </p>
    }
</div>

<div class="w3-col l4">
    @switch (Model.Gender)
            {
                case 0:     //Female
                    switch (Model.Name.Length % 2)
                    {
                        case 0: <img class="w3-card-4" src="/Content/images/avatar0.png" style="width:100%" /> break;
                        default: <img class="w3-card-4" src="/Content/images/avatar00.png" style="width:100%" /> break;
                    }
                    break;
                case 1:     //Male
                    switch (Model.Name.Length % 2)
                    {
                        case 0: <img class="w3-card-4" src="/Content/images/avatar1.png" style="width:100%" /> break;
                        default: <img class="w3-card-4" src="/Content/images/avatar11.png" style="width:100%" /> break;
            }
            break;
        default:    //Unknown
            <img class="w3-card-4" src="/Content/images/avatar2.png" style="width:100%" />
            break;
    }
</div>