@model OrganizerMVC.App_Data.Contacts

@{
    ViewBag.Title = @Model.Name + " " + @Model.Patronymic + " " + @Model.Surname;
}
<div class="w3-row">
    <div class="w3-col l8">
        <div class="w3-col l8">
            <h3>@Model.Name<br />@Model.Patronymic<br />@Model.Surname</h3>
            <p>
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> @Model.Birthday.Value.ToShortDateString()
            </p>
            <p>
                <i class="fa fa-building-o" aria-hidden="true"></i> @Model.Organization
            </p>
            <p>
                <i class="fa fa-briefcase" aria-hidden="true"></i> @Model.Position
            </p>
            @foreach (var item in @Model.ContactsPhones)
            {
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i> @item.Phone
                </p>
            }
            @foreach (var item in @Model.ContactsEmails)
            {
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i> @item.Email
                </p>
            }
            @foreach (var item in @Model.ContactsSkypes)
            {
                <p>
                    <i class="fa fa-skype" aria-hidden="true"></i> @item.Skype
                </p>
            }
        </div>
    </div>
    <div class="w3-col l4">
        <img class="w3-card-4" src="/Content/images/avatar6.png" width="100%" />
    </div>
</div>