        @model OrganizerMVC.Models.FullContacts
        
        @{
            ViewBag.Title = string.Format("{0} {1}", Model.Focus.Surname, Model.Focus.Name);
        }

        <h2>Контакты</h2>

        <div class="w3-row">
            <!-- слайдер -->
            <div id="slider" class="w3-col m3">
                @Html.Partial("_Slider", Model.Contacts)
            </div>
            <!-- подробная информация контакта -->
            <div class="w3-col m9 w3-container">
                <div id="detailsPartialView" class="w3-row">
                    @Html.Partial("_Details", @Model.Focus)
                </div>
            </div>
        </div>
    
        <!-- кнопки -->
        <div class="w3-row w3-margin-top">
            <!-- создать контакт -->
            <div class="w3-col m3">
                <button onclick="document.getElementById('addContact').style.display='block'" class="w3-btn-block w3-green">Добавить</button>
            </div>

            <div class="w3-col m9 w3-display-container">
                <div class="w3-right-align">
                    <!-- изменить контакт -->
                    <span>
                        @Ajax.ActionLink("Изменить", "Edit", new { Id = Model.Focus.Id }, new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "detailsPartialView",
                               InsertionMode = InsertionMode.Replace
                           }, new { @class = "w3-btn w3-blue" })
                    </span>
                    <!-- удалить контакт-->
                    <span><button onclick="document.getElementById('delContact').style.display='block'" class="w3-btn w3-red">Удалить</button></span>
                </div>
            </div>
        </div>

        <!-- добавить контакт -->
        @Html.Partial("_Create", new OrganizerMVC.Models.Contacts())

        <!-- модальня форма удаления контакта -->
        @Html.Partial("_Delete", Model.Focus)